[user]
    name = Ozeki Yoshiro
    email = yoshiro@fang-lang.net
[color]
    ui = true
[core]
    autocrlf = false
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
